
.container{
  display:  flex;
  flex-direction: row;
  margin-top: 10px;
}
strong{
  color: blue;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
span{
  color: rebeccapurple;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: coral;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.ErrorHandeling{
  margin-top:30px;
  margin-left:20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.ErrorHandeling section{
  margin-left: 30px;
}
.reducer{
  margin-top:30px;
  margin-left:20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: cadetblue;
}
.reducer div{
  margin-left: 30px;
}
.usersList{
  margin-top:10px;
  margin-left:20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.output{
  margin-top: 100px;
}
@media screen and (max-width: 992px) {
  .container{
    display:  flex;
    flex-direction: column;
    margin-top: 10px;
  }
  h1{
    font-size: 14px;
  }
  .usersList{
    height: 300px;
    overflow-y: scroll;
  }
  .reducer{
    height: 100px;
  }
}


